{% extends "catalog/base.html" %}
{% load static %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block text %}
<div class="row justify-content-start">
    <h1>{{ title }}</h1>
    {% for event in events %}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100 shadow-sm border-0 rounded">
            <!-- Анимация увеличения изображения при наведении -->
            <div class="img-container">
                <img class="card-img-top rounded-top img-hover" src="{{ event.img.url }}" alt="{{ event.name }}">
            </div>
            <div class="card-body">
                <h4 class="card-title">
                    <p>{{ event.name }}</p>
                    <p>{{ event.age_limit }}+</p>
                </h4>
                <h5>
                    {% if event.price == 0 %}
                    Бесплатно!!!
                    {% else %}
                    {{ event.price }} руб.
                    {% endif %}
                </h5>
                <p class="card-text">{{ event.description }}</p>
            </div>
            <div class="card-footer text-center">
                <a class="btn btn-outline-success" href="{% url 'catalog:basket_add' event.id %}"
                    onclick="updateBasketCount();">
                    Купить билет
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Пагинация -->
<div class="d-flex justify-content-center mt-4">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item {% if not events.has_previous %} disabled {% endif %}">
                <a class="page-link"
                    href="{% if events.has_previous %} {% url 'catalog:event_paginator' events.previous_page_number %} {% else %} '#' {% endif %}">
                    Предыдущая
                </a>
            </li>

            {% for page in events.paginator.page_range %}
            <li class="page-item {% if events.number == page %} active {% endif %}">
                <a class="page-link" href="{% url 'catalog:event_paginator' page %}">
                    {{ page }}
                </a>
            </li>
            {% endfor %}

            <li class="page-item {% if not events.has_next %} disabled {% endif %}">
                <a class="page-link"
                    href="{% if events.has_next %} {% url 'catalog:event_paginator' events.next_page_number %} {% else %} '#' {% endif %}">
                    Следующая
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock text %}

{% block styles %}
<style>
    /* Анимация увеличения изображения при наведении */
    .img-container {
        overflow: hidden;
        position: relative;
    }

    .img-hover {
        transition: transform 0.3s ease-in-out;
        /* Плавная анимация */
    }

    .img-hover:hover {
        transform: scale(1.1);
        /* Увеличение изображения при наведении */
    }
</style>
{% endblock styles %}